@media (max-width: 1024px) {
  .main-content {
    padding-top: 100px !important;
  }
}

.navbar-bg {
  height: 75px !important;
}

.navbar-bg {
  background-color: #ffffff !important;
  box-shadow: 1px 1px 15px rgba(64,64,65,.15);
}
